<div class="max-w-md">
  <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">{{ section.settings.subtext }}</p>
  </div>
  <div class="my-4">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a href="{{ shop_url }}" class="px-4 inline py-2 text-base font-medium shadow bg-green-600 hover:bg-green-800 text-white rounded">{{ section.settings.button_label }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex flex-col items-center justify-center h-screen text-center bg-gray-100",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "404",
        "default": "404 Heading Title"
      }, {
        "type": "text",
        "id": "subtext",
        "label": "404 Subtext",
        "default": "404 Subtext"
      }, {
        "type": "text",
        "id": "button_label",
        "default": "Back to homepage",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Url"
      }
    ]
  }
{% endschema %}